<div id="main" class="flexslider">
  <ul class="slides">

    <li>
      <img src="images/slider/color.jpg" />
      <div class="banner-text">
        <div class="banner-text-inner">
          <h2>Color Service</h2>
          <br>
          <p>Shine with Vibrant and Edgy hair for the Summer!</p>
        </div>
      </div>
    </li>
    <li>
      <img src="images/slider/treatment2.jpg" />
      <div class="banner-text">
        <div class="banner-text-inner">
          <h2>In-Salon Treatment</h2>
          <br>
          <p>Bring back life to your dull damaged hair!</p>
        </div>
      </div>
    </li>
    <li>
      <img src="images/slider/long.jpg" />
      <div class="banner-text">
        <div class="banner-text-inner">
          <h2>Thermal Reconditioning</h2>
          <br>
          <p>Frizz Free Summer with our Thermal Reconditioning Service!</p>
        </div>
      </div>
    </li>

  </ul>
</div>
