<div id="footer">
  <div class="ui three column menu grid stackable">

    <!-- Left Footer -->
    <div class="column">

      <div class="ui comments">
        <div class="ui horizontal icon divider">
          <i class="comment icon"></i>
        </div>

        <!-- Comment 1 -->
        <div id="greyhover" class="comment">
          <a class="avatar">
            <img id="avatar" src="images/review/dandan.jpg" alt="person">
          </a>
          <div class="content">
            <a class="author">Dandan Z.</a>
            <div class="text">
              Tony is the best.  My Keratin never looked so good!!! 3 weeks and it's still so fresh and straight and healthy!! :)
            </div>
            <div class="field">
              <a id="yelptext"  href="http://www.yelp.com/biz/pell-22-hair-salon-new-york?hrid=FLmxV2PHWTi5VV9CzNtSfA&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank"><i class="icon yelp large red"></i>yelp review</a>
            </div>
          </div>
        </div>

        <!-- Comment 2 -->
        <div id="greyhover" class="comment">
          <a class="avatar">
            <img id="avatar" src="images/review/elka.jpg" alt="person">
          </a>
          <div class="content">
            <a class="author">Elka S.</a>
            <div class="text">
              This place is AMAZING!! I've been coming here for about 7 years now.  I always get the Japanese straight perm, hair color and cut.  Tony is the one that's in charge of my hair and I 100% trust him.
            </div>
            <div class="field">
              <a id="yelptext"  href="http://www.yelp.com/biz/pell-22-hair-salon-new-york?hrid=24rt6ZG6T7fSjO3Kvi8NlQ&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank"><i class="icon yelp large red"></i>yelp review</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Center Footer -->
    <div id="footersocial" class="column">
      <div class="ui horizontal icon divider">
        <i class="bookmark icon"></i>
      </div>


      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//liweibeauty.us13.list-manage.com/subscribe/post?u=83bf6344a226e0bb1b8185e46&amp;id=9aa78bfb0a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">
              Subscribe to our mailing list
              <br>
              Receive 15% off your next service*!
            </label>
            <div class="ui input focus">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address..." required>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_831526dea95e7ba7771161ae8_c80d7b9143" tabindex="-1" value="">
            </div>
            <br>
            <br>
            <div class="clear">
              <input id="greyhover" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="ui blue button">
            </div>
          </div>
          <br>
          <p id="fineprint">* Limited 1 per person, first time customer only, and cannot be combine with any other sales or promotions.</p>
        </form>
      </div>
      <!--End mc_embed_signup-->

      <div class="ui horizontal divider"></div>

    </div>

    <!-- Right Footer -->
    <div class="column">
      <div class="ui horizontal icon divider">
        <i class="info circle icon"></i>
      </div>
      <div class="ui divided items">
        <div class="item">
          <h4> Pell 22 Hair Salon </h4>
        </div>
        <div class="item">
          <h5>
            22 Pell Street
            <br>
            New York, NY 10013
            <br>
            <a id="greyhover" href="https://www.google.com/maps/place/22+Pell+Hair+Salon+Inc/@40.7149648,-74.0003195,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25a26fb755959:0x745c9d9f9f99b7bc!8m2!3d40.7149648!4d-73.9981255" target="_blank">get direction</a>
          </h5>
        </div>
        <div class="item">
          <h5>
            HOURS
            <br>
            Monday-Sunday 9:00am - 7:00pm
            <br>
            After-hours appointments are available
          </h5>
        </div>
        <div class="item">
          <h5>
            <i class="icon phone square large"></i>
            <a id="greyhover" href="tel:6462268555">
              646-226-8555
            </a>
            <br>
            <br>
            <i class="icon mail square large"></i>
            <a id="greyhover" href="mailto:22pellhairsalon@gmail.com">
              22pellhairsalon@gmail.com
            </a>
          </h5>
        </div>
      </div>
    </div>

  </div>

  <!-- copyright footer -->
  <div>
    <h5 class="ui center aligned header">
      <i class="icon copyright"></i>2016 All Rights Reserved, 22 Pell Hair Salon.
    </h5>
  </div>
</div>
