<div id="footer">
  <h3>Footer</h3>
  <div class="ui two column menu grid stackable">

    <!-- Left Footer -->
    <div class="column">

      <div class="ui comments">
        <div class="ui horizontal icon divider">
          <i class="comment icon"></i>
        </div>

        <!-- Comment 1 -->
        <div class="comment">
          <a class="avatar">
            <img src="images/review/dandan.jpg" alt="person">
          </a>
          <div class="content">
            <a class="author">Dandan Z.</a>
            <div class="metadata">
              <div class="ui star rating" data-rating="5">
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
              </div>
            </div>
            <div class="text">
              Tony is the best.  My Keratin never looked so good!!! 3 weeks and it's still so fresh and straight and healthy!! :)
            </div>
            <div class="field">
              <a href="http://www.yelp.com/biz/pell-22-hair-salon-new-york?hrid=FLmxV2PHWTi5VV9CzNtSfA&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank"><i class="icon yelp large red"></i>yelp review</a>
            </div>
          </div>
        </div>

        <!-- Comment 2 -->
        <div class="comment">
          <a class="avatar">
            <img src="images/review/elka.jpg" alt="person">
          </a>
          <div class="content">
            <a class="author">Elka S.</a>
            <div class="metadata">
              <div class="ui star rating" data-rating="5">
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
              </div>
            </div>
            <div class="text">
              This place is AMAZING!! I've been coming here for about 7 years now.  I always get the Japanese straight perm, hair color and cut.  Tony is the one that's in charge of my hair and I 100% trust him.
            </div>
            <div class="field">
              <a href="http://www.yelp.com/biz/pell-22-hair-salon-new-york?hrid=24rt6ZG6T7fSjO3Kvi8NlQ&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank"><i class="icon yelp large red"></i>yelp review</a>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Right Footer -->
    <div class="column">
      <div class="ui horizontal icon divider">
        <i class="info circle icon"></i>
      </div>
      <div class="ui divided items">
        <div class="item">
          <h4> Pell 22 Hair Salon </h4>
        </div>
        <div class="item">
          <h5>
            22 Pell Street
            <br>
            New York, NY 10013
            <br>
            <a href="https://www.google.com/maps/place/22+Pell+Hair+Salon+Inc/@40.7149648,-74.0003195,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25a26fb755959:0x745c9d9f9f99b7bc!8m2!3d40.7149648!4d-73.9981255" target="_blank">get direction</a>
          </h5>
        </div>
        <div class="item">
          <h5>
            <i class="icon phone square large"></i>
            <a href="tel:6462268555">
              646-226-8555
            </a>
            <br>
            <br>
            <i class="icon mail square large"></i>
            <a href="mailto:22pellhairsalon@gmail.com">
              22pellhairsalon@gmail.com
            </a>
          </h5>
        </div>
      </div>
    </div>


  </div>
</div>
