<div id="header">
  
  <!-- Menu 1 - Home -->
  <div class="ui borderless main three item menu">
    <div class="item">
      <a href="/" class="item"><i class="icon home"></i>Home</a>
    </div>

    <!-- Menu 2 - Services -->
    <div class="item">
      <a href="/services" class="item"><i class="icon chevron circle down"></i>Services</a>
    </div>

    <!-- Menu 3 - contact -->
    <div class="item">
      <a href="/contact" class="item"><i class="icon mail"></i>Contact</a>
    </div>

  </div>
</div>
