<div id="header">

  <div class="ui borderless main four item menu">
    <!-- Menu 1 - Home -->
    <div class="item">
      <a href="/" class="item">Home</a>
    </div>

    <!-- Menu 2 - Services -->
    <div class="item">
      <a href="/services" class="item">Services</a>
    </div>

    <!-- Menu 3 - contact -->
    <div class="item">
      <a href="/contact" class="item">Contact</a>
    </div>

    <!-- Menu 4 - social media -->
    <div class="item">
      <a href="https://www.facebook.com/pages/22-Pell-Hair-Salon-Inc/162628197095891"><i class="icon facebook square icon large"></i></a>
      <a href="#"><i class="icon foursquare icon pink large"></i></a>
      <a href="#"><i class="icon wechat icon green large"></i></a>
      <a href="#"><i class="icon instagram orange large"></i></a>
      <a href="http://www.yelp.com/biz/pell-22-hair-salon-new-york"><i class="icon yelp red large"></i></a>

    </div>

  </div>
</div>
