<div id="header">
  <div id="logo">
    <img class="ui centered medium image" src="images/logo/pellhair.png" alt="Pell Hair Logo">
  </div>
  <div id="headermenu" class="ui borderless main four item menu">
    <!-- Menu 1 - Home -->
    <div class="item">
      <a id="buttonhome" href="/" class="item ui button">Home</a>
    </div>

    <!-- Menu 2 - Services -->
    <div class="item">
      <a id="buttonservice" href="/services" class="item ui button">Services</a>
    </div>

    <!-- Menu 3 - contact -->
    <div class="item">
      <a id="buttoncontact" href="/contact" class="item ui button">Contact</a>
    </div>

    <!-- Menu 4 - social media -->
    <div class="item">
      <a href="https://www.facebook.com/pages/22-Pell-Hair-Salon-Inc/162628197095891"><i id="socialfacebook" class="icon facebook square icon large grey"></i></a>
      <a href="#"><i id="socialfoursquare" class="icon foursquare icon large grey"></i></a>
      <a href="#"><i id="socialwechat" class="icon wechat icon large grey"></i></a>
      <a href="#"><i id="socialinstagram" class="icon instagram large grey"></i></a>
      <a href="http://www.yelp.com/biz/pell-22-hair-salon-new-york"><i id="socialyelp" class="icon yelp large grey"></i></a>

    </div>

  </div>
</div>
