<div id="menucard">
  <div class="ui link centered aligned cards">

    <a href="/services#special" id="card" class="card">
      <div class="image">
        <img id="menuimage" src="/images/slider/straight.jpg" alt="">
      </div>
      <div id="menucontent" class="content">
        <div class="header"><h2>THERMAL RECONDITIONING</h2></div>
        <div class="description">
          <p>Versatile service allows for a variety of finishes from sleek and straight to smooth and bouncy.</p>
        </div>
      </div>
    </a>

    <a href="/services#cut" id="card" class="card">
      <div class="image">
        <img id="menuimage" src="/images/slider/cut.jpg" alt="">
      </div>
      <div id="menucontent" class="content">
        <div class="header"><h2>CUTS</h2></div>
        <div class="description">
          <p>Modern haircut with attention to details by one our highly trained hair stylists.</p>
        </div>
      </div>
    </a>

    <a href="/services#color" id="card" class="card">
      <div class="image">
        <img id="menuimage" src="/images/slider/haircolor.jpg" alt="">
      </div>
      <div id="menucontent" class="content">
        <div class="header"><h2>COLORS</h2></div>
        <div class="description">
          <p>Seasonal changes dampened your hair, let one of our colorist bring back Vibrant and Edgy hair color for all seasons.</p>
        </div>
      </div>
    </a>

    <a href="/services#treatment" id="card" class="card">
      <div class="image">
        <img id="menuimage" src="/images/slider/hairtreatment.jpg" alt="">
      </div>
      <div id="menucontent" class="content">
        <div class="header"><h2>TREATMENTS</h2></div>
        <div class="description">
          <p>Restore seasonal damages or chemical damages with one of a kind prescriptive in-salon professional treatments.</p>
        </div>
      </div>
    </a>

  </div>
</div>
