/* Body */


/* Index Page */


/* Service Page */


/* Contact Page */


/* Header Page */

/* Footer Page */
#mc_embed_signup{
  text-align: center;
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:100%;
}

#mc_embed_signup input.email{
  width: 250px;
}
#fineprint{
  font-size: 0.8em;
}

/* Carousel */
.banner-text{
  width: 40%;
  padding-left: 40px !important;
  position: absolute;
  opacity: .9;
  background-color: #333;
  bottom: 0;
  left: 0;
  background: #333;
  zoom: 1;
  padding: 40px 0;
  font-weight: 100;
  font-style: normal;
  font-family: "Bliss ExtraLight", 'Gill Sans', 'Calibri', 'Helvetica Neue', 'Arial', 'sans-serif';
}

.banner-text-inner h2 {
  color: #fff;
  font-weight: normal;
  font-size: 2.2em;
  float: left;
  text-transform: uppercase;
}

.banner-text .banner-text-inner p{
  margin: 20px 0 10px 0;
  font-size: 1.125em;
  color: #ddd;
  padding: 0 0 0 4.6%;
  border-left: #999 1px solid;
  float: left;
  line-height: 1.22em;
}

p{
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
/* Mobile */
