/* Body */
body{
  background-color: rgb(245, 245, 245);
}


/* Index Page */

#bodymenu{
  padding-top: 10px;
}

#main{
  margin-top: -10px;
  z-index: -1;
}

#menuimage{
  filter: none;
  -webkit-filter: none;
}

#card:hover{
  filter: url(filters.svg#grayscale);
  filter: gray;
  -webkit-filter: grayscale(1);
  z-index: 0;
}


#card:hover h2{
  color: white;
}

#card:hover p{
  color: white;
}

#card:hover div{
  background-color: red;
}

.ui.cards>.card{
  margin: 0em 0em !important;
}

.ui.card, .ui.cards>.card{
  width: 500px !important;
}

#menucard{
  padding-bottom: 50px;
}

#logo{
  padding-top: 10px;
}

/* Service Page */
#servicesegment{
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 25px;
  margin-right: 25px;

}

#servicemenuitem{
  margin-bottom: 30px;
}

#servicetable{
  background-color: #F2F2F2;
}

#cut, #color, #treatment, #special {
  padding-top: 65px;
}

#backtotop{
  padding-top: 15px;
  float: right;
  display: inline;
  top: 80px !important;
  right: 0px;
  z-index: 500;
  font-size: .75em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #666;
  padding: 10px 0 10px 20px;
  border-radius: 15px 0 0 15px !important;
  width: 80px;
}

#backtotopa{
  background-color: #666;
  color: white;
}


/* Contact Page */


/* Header Page */
.ui.item.menu, .ui.item.menu .item{
  background-color: #f5f5f5;
}
#buttonhome{
  background-color: transparent;
}
/* Footer Page */
#mc_embed_signup{
  text-align: center;
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:100%;
}

#mc_embed_signup input.email{
  width: 250px;
}
#fineprint{
  font-size: 0.8em;
}

/* footer */

#greyhover{
  filter: url(filters.svg#grayscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}

#greyhover:hover{
  filter: none;
  -webkit-filter: none;
}

/* Carousel */
.banner-text{
  width: 50%;
  padding-left: 40px !important;
  position: absolute;
  opacity: .8;
  background-color: #333;
  bottom: 0;
  left: 0;
  background: #333;
  zoom: 1;
  padding: 40px 0;
  font-weight: 100;
  font-style: normal;
  font-family: "Bliss ExtraLight", 'Gill Sans', 'Calibri', 'Helvetica Neue', 'Arial', 'sans-serif';
}

.banner-text-inner h2 {
  color: #fff;
  font-weight: normal;
  font-size: 2.9em;
  float: left;
  text-transform: uppercase;
}

.banner-text .banner-text-inner p{
  margin: 5px 0 10px 0;
  font-size: 1.125em;
  color: #ddd;
  padding: 0 0 0 4.6%;
  border-left: #999 1px solid;
  float: left;
  line-height: 1.22em;
}

p{
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

/* Mobile */
/* iPhone 4 & 4S */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .ui.card, .ui.cards>.card{
    width: 400px !important;
  }

  #servicepartials{
    font-size: 175%;
  }

  #cut{
    padding-top: 102px;
  }

  .ui.text.container{
    font-size: 2.142875rem;
  }

  #headermenu{
    font-size: 2.1rem !important;
  }

  #backtotop{
    top: 150px !important;
  }
}

/* iPhone 5 & 5S */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .ui.card, .ui.cards>.card{
    width: 400px !important;
  }

  #servicepartials{
    font-size: 175%;
  }

  #cut{
    padding-top: 102px;
  }

  .ui.text.container{
    font-size: 2.142875rem;
  }

  #headermenu{
    font-size: 2.1rem !important;
  }

  #backtotop{
    top: 150px !important;
  }
}

/* iPhone 6 & 6S */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .ui.card, .ui.cards>.card{
    width: 400px !important;
  }

  #servicepartials{
    font-size: 175%;
  }

  #cut{
    padding-top: 102px;
  }

  .ui.text.container{
    font-size: 2.142875rem;
  }

  #headermenu{
    font-size: 2.1rem !important;
  }

  #backtotop{
    top: 150px !important;
  }

}

/* iPhone 6plus */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .ui.card, .ui.cards>.card{
    width: 400px !important;
  }

  #servicepartials{
    font-size: 175%;
  }

  #cut{
    padding-top: 102px;
  }

  .ui.text.container{
    font-size: 2.142875rem;
  }

  #headermenu{
    font-size: 2.1rem !important;
  }

  #backtotop{
    top: 150px !important;
  }
}

/* iPad */
@media only screen and (min-device-width: 736px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .ui.card, .ui.cards>.card{
    width: 400px !important;
  }

  #servicepartials{
    font-size: 175%;
  }

  #cut{
    padding-top: 102px;
  }

  .ui.text.container{
    font-size: 2.142875rem;
  }

  #headermenu{
    font-size: 2.1rem !important;
  }

  #backtotop{
    top: 150px !important;
  }
}

/* iPad mini */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .ui.card, .ui.cards>.card{
    width: 400px !important;
  }

  #servicepartials{
    font-size: 175%;
  }

  #cut{
    padding-top: 102px;
  }

  .ui.text.container{
    font-size: 2.142875rem;
  }

  #headermenu{
    font-size: 2.1rem !important;
  }

  #backtotop{
    top: 150px !important;
  }
}
