/* Body */


/* Index Page */


/* Service Page */


/* Contact Page */


/* Header Page */

/* Footer Page */
#mc_embed_signup{
  text-align: center;
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:100%;
}

#mc_embed_signup input.email{
  width: 250px;
}
#fineprint{
  font-size: 0.8em;
}

/* Mobile */
