<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>
  <!-- Header Navbar partial -->
  <%- include ../partials/header %>

  <div id='contact'>
    <!-- tony partial -->
    <%- include ../partials/about/tony %>

  </div>

  <!-- Footer partial -->
  <%- include ../partials/footer %>
</body>
</html>
