<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>
  <!-- Header Navbar partial -->
  <%- include ../partials/header %>

  <div id='services'>
    <h3>Service Page</h3>

    <!-- copy these lines to your document: -->
    <div id="photoslides_hype_container" style="margin:auto;position:relative;width:600px;height:400px;overflow:hidden;" aria-live="polite">
  		<script type="text/javascript" charset="utf-8" src="photoslides.hyperesources/photoslides_hype_generated_script.js?76519"></script>
  	</div>

    <!-- end copy -->

  </div>

  <!-- Footer partial -->
  <%- include ../partials/footer %>

</body>
</html>
