<div id="staff">
  <div id="staff_hype_container" style="margin:auto;position:relative;width:320px;height:568px;overflow:hidden;z-index:-1;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="hype3/staff.hyperesources/staff_hype_generated_script.js?63272"></script>
	</div>
</div>
