<div id="color">

  <div id="servicesegment" class="ui segment">
    <h3>Color</h3>
    <div id="servicemenuitem">
      <p> Removes product build-up and discoloration caused by environmental factors, leaving your hair totally revitalized.  The perfect preparation for all chemical services.</p>
      <table id="servicetable" class="ui single line fixed table">
        <tbody>
          <tr>
            <td>color treatment</td>
            <td></td>
            <td>$40</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="servicemenuitem">
      <p> Removes product build-up and discoloration caused by environmental factors, leaving your hair totally revitalized.  The perfect preparation for all chemical services.</p>
      <table id="servicetable" class="ui single line fixed table">
        <tbody>
          <tr>
            <td>Hightlight (cap)</td>
            <td></td>
            <td>$40</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="servicemenuitem">
      <p> Removes product build-up and discoloration caused by environmental factors, leaving your hair totally revitalized.  The perfect preparation for all chemical services.</p>
      <table id="servicetable" class="ui single line fixed table">
        <tbody>
          <tr>
            <td>Technical Highlight</td>
            <td></td>
            <td>$50-$130</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="servicemenuitem">
      <p> Removes product build-up and discoloration caused by environmental factors, leaving your hair totally revitalized.  The perfect preparation for all chemical services.</p>
      <table id="servicetable" class="ui single line fixed table">
        <tbody>
          <tr>
            <td>Single Process Color **</td>
            <td></td>
            <td>$45-$100</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
