<div id="Cut">
  <h3>Cut</h3>
  <div id="menucard">
    <div class="ui link centered aligned cards">

      <div id="card" class="card">
        <div class="image">
          <img id="menuimage" src="/images/slider/straight.jpg" alt="">
        </div>
        <div id="menucontent" class="content">
          <div class="header"><h2>THERMAL RECONDITIONING</h2></div>
          <div class="description">
            <p>Some description to go with each of the Menus</p>
          </div>
        </div>
      </div>

      <div id="card" class="card">
        <div class="image">
          <img id="menuimage" src="/images/slider/cut.jpg" alt="">
        </div>
        <div id="menucontent" class="content">
          <div class="header"><h2>CUTS</h2></div>
          <div class="description">
            <p>Some description to go with each of the Menus</p>
          </div>
        </div>
      </div>

      <div id="card" class="card">
        <div class="image">
          <img id="menuimage" src="/images/slider/haircolor.jpg" alt="">
        </div>
        <div id="menucontent" class="content">
          <div class="header"><h2>COLORS</h2></div>
          <div class="description">
            <p>Some description to go with each of the Menus</p>
          </div>
        </div>
      </div>

      <div id="card" class="card">
        <div class="image">
          <img id="menuimage" src="/images/slider/hairtreatment.jpg" alt="">
        </div>
        <div id="menucontent" class="content">
          <div class="header"><h2>TREATMENTS</h2></div>
          <div class="description">
            <p>Some description to go with each of the Menus</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
