<div id="special">

  <div id="servicesegment" class="ui segment">
    <h3>Specials</h3>
    <div id="servicemenuitem">
      <table id="servicetable" class="ui single line fixed table">
        <tbody>
          <tr>
            <td class="eight wide">Thermal Reconditioning</td>
            <td></td>
            <td>Call to inquire</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="servicemenuitem">
      <table id="servicetable" class="ui single line fixed table">
        <tbody>
          <tr>
            <td class="eight wide">Ceramic Wave Perm</td>
            <td></td>
            <td>$150</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="servicemenuitem">
      <table id="servicetable" class="ui single line fixed table">
        <tbody>
          <tr>
            <td class="eight wide">Manicure</td>
            <td></td>
            <td>$7</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="servicemenuitem">
      <table id="servicetable" class="ui single line fixed table">
        <tbody>
          <tr>
            <td class="eight wide">Pedicure</td>
            <td></td>
            <td>$18</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
