<div id="special">

  <div id="servicesegment" class="ui segment">
    <h3>Specials</h3>
    <div id="servicemenuitem">
      <p> Removes product build-up and discoloration caused by environmental factors, leaving your hair totally revitalized.  The perfect preparation for all chemical services.</p>
      <table id="servicetable" class="ui single line fixed table">
        <tbody>
          <tr>
            <td>Japanese Thermal Straight Perm</td>
            <td></td>
            <td>Call to inquire</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="servicemenuitem">
      <p> Removes product build-up and discoloration caused by environmental factors, leaving your hair totally revitalized.  The perfect preparation for all chemical services.</p>
      <table id="servicetable" class="ui single line fixed table">
        <tbody>
          <tr>
            <td>Japanese Ceramic Wave Perm</td>
            <td></td>
            <td>$150</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="servicemenuitem">
      <p> Removes product build-up and discoloration caused by environmental factors, leaving your hair totally revitalized.  The perfect preparation for all chemical services.</p>
      <table id="servicetable" class="ui single line fixed table">
        <tbody>
          <tr>
            <td>Manicure</td>
            <td></td>
            <td>$7</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="servicemenuitem">
      <p> Removes product build-up and discoloration caused by environmental factors, leaving your hair totally revitalized.  The perfect preparation for all chemical services.</p>
      <table id="servicetable" class="ui single line fixed table">
        <tbody>
          <tr>
            <td>Pedicure</td>
            <td></td>
            <td>$18</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
