<div id="menu" class="ui borderless main four item menu">

  <div class="ui text container">
    <a id="stickycut" class="item">
      Cut
    </a>
    <a id="stickycolor" class="item">
      Color
    </a>
    <a id="stickytreatment" class="item">
      Treatment
    </a>
    <a id="stickyspecial" class="item">
      Special
    </a>
  </div>

</div>
