<div id="treatment">

  <div id="servicesegment" class="ui segment">
    <h3>Treatments</h3>
    <div id="servicemenuitem">
      <table id="servicetable" class="ui single line fixed table">
        <tbody>
          <tr>
            <td class="eight wide">Deep Protein Treatment</td>
            <td></td>
            <td>$25</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="servicemenuitem">
      <table id="servicetable" class="ui single line fixed table">
        <tbody>
          <tr>
            <td class="eight wide">Repairing Treatment</td>
            <td></td>
            <td>$70</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <p> * Shampoo and Cut not included</p>
    </div>

  </div>

</div>
