<div id="treatment">

  <div id="servicesegment" class="ui segment">
    <h3>Treatments</h3>
    <div id="servicemenuitem">
      <p> Removes product build-up and discoloration caused by environmental factors, leaving your hair totally revitalized.  The perfect preparation for all chemical services.</p>
      <table id="servicetable" class="ui single line fixed table">
        <tbody>
          <tr>
            <td>Deep Protein Treatment</td>
            <td></td>
            <td>$25</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="servicemenuitem">
      <p> Removes product build-up and discoloration caused by environmental factors, leaving your hair totally revitalized.  The perfect preparation for all chemical services.</p>
      <table id="servicetable" class="ui single line fixed table">
        <tbody>
          <tr>
            <td>Japanese Repair 4 in 1 Treatment</td>
            <td></td>
            <td>$70</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <p> * Shampoo and Cut not included</p>
    </div>

  </div>

</div>
